
.img1 {
height: 100px; 
width: 100px; 
aspect-ratio: 1 / 1;
object-fit: cover;
object-position: center;
border-radius: 50%;    
}


.nombre1 {
    color: green;

}


.mensaje1{
    color: black;
    background-color: green;
}

.mensaje2{
    color: green;
    background-color: black;
}

.img2{
    height: 100px;
    width: 100px;
}