body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(33, 152, 208);
    overflow: hidden;
}
.sun {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
}
.moon {
    width: 150px;
    height: 150px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    animation: eclipse 5s infinite alternate ease-in-out;
}
@keyframes eclipse {
    0% { transform: translateX(-200px); }
    50% { transform: translateX(0px); }
    100% { transform: translateX(-200px); }
}