body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}
header {
    background-color: #f4a261;
    color: white;
    padding: 20px;
}
.cursos {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.curso {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    cursor: pointer;
}
.curso:hover {
    background-color: #f4e1d2;
}
.icono {
    height: 30px;
    width: 30px;
    margin: 0 auto 10px;
}

.ejercicios{
   margin: 10px; 
}